<p id="notice"><%= notice %></p>

<h1>Sheep</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Personality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sheep.each do |sheep| %>
      <tr>
        <td><%= sheep.name %></td>
        <td><%= sheep.personality %></td>
        <td><%= link_to 'Show', sheep %></td>
        <td><%= link_to 'Edit', edit_sheep_path(sheep) %></td>
        <td><%= link_to 'Destroy', sheep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sheep', new_sheep_path %>
