<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @sheep.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sheep.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @sheep.priority %>
</p>

<%= link_to 'Edit', edit_sheep_path(@sheep) %> |
<%= link_to 'Back', sheep_index_path %>
